/*start top-up*/
/*progress bar*/
.circle-bar{
	position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-top: 30px;

}
.circle-bar > .circle{
    display: inline-block;
    position: relative;
    padding: 18px;
    border-radius: 50%;
    border: 10px solid #0064D2;
}
.circle-bar > .circle:before{
	content: "";
	position: absolute;
	border-radius: 50%;
    border: 7px solid #0064D2;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%,-50%);
}
.circle-bar > span{
	position: absolute;
	text-transform: uppercase;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: 100%;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -35%);
}
.circle-bar > .circle.active:before{
	opacity: 1;
}
.circle-bar:nth-child(1):after,
.circle-bar:nth-child(2):after,
.circle-bar:nth-child(3):after{
	content: "";
    position: absolute;
    border: 5px solid #0064D2;
    width: calc(100% - 43px);
    top: calc(50% - 3px);
    left: calc(50% - -7px);
    transform: translate(15px,calc(-50%));
}
/*order container*/
.container-order{
	background: #0064D2;
	color: white;
	width: 100%;
	border-radius: 5px;
	margin-top: 35px;
    padding: 0 12px 25px 12px;
}
.container-order > span{
    display: block;
    text-transform: uppercase;
	text-align: left;
	font-size: 24px;
    margin: 10px;
}
.container-order > .form-group{
	margin: 10px;
}
.container-order > .form-control{
    display: block;
	text-align: left;
    padding: 10px;
}
.row-order{
	display: flex;
	flex-wrap: wrap;
}
.row-order input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.row-order label{
	background: white;
	color: black;
	width: 90%;
	font-size: 18px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 6px 0;
}
.row-order input[type="radio"]:checked + label {
    background-color:#F6C400;
    border-color: #4c4;
}
.row-order label:hover {
  background-color: #fbda58;
}
.button-game-name{
	background: white;
	color: black !important;
    text-transform: uppercase;
	text-align: center;
	width: 90%;
	min-width: 80%;
	font-size: 16px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 8px;
	margin: 8px 0 5px 0;
}
.hint{
	text-align: justify;
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 0;
}
.container-submit{
	position: relative;
	margin-top: 25px;
	text-align: right;
	font-size: 18px
}
.container-submit > .btn{
	font-family: Montserrat;
	margin:0;
}
.container-submit > .btn-warning{
	color:white;
	font-family: Montserrat;
}
/*end top-up*/

/*start news*/
.write-text{
	color: black;
	margin: 0 25px;
}
.container-new{
}
.container-new > .top{
	position: relative;
	display: inline-block;
	padding: 0;
	width: 100%;
}
.container-new > .bottom{
	position: relative;
	display: inline-block;
	padding: 25px;
}
.container-new .title > p{
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: 0.5px;
	font-family: Catamaran;
	font-style: normal;
	font-weight: normal;
}
.left-side{
	float: left;
	margin-top: 25px;
}
.left-side h4{
	font-size: 36px;
}
.left-side p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.right-side{
	padding: 0;
	float: left;
	padding-left: 35px;
}
.white-box{
	float: left;
	height: 70px;
	background: white;
	opacity: 0;
}
.news0{
	padding: 0 !important;
	float: left;
	background: #00000066;
	margin-top: 25px;
}
.news0 .write-text{
	position: absolute;
	font-weight: bold;
	color: white;
}
.news0 > .write-text > p{
	font-size: 36px;
}
.news0 > img{
	height: auto;
	width: 100%;
	position: relative;
    z-index: -1;
}
.news0 > .write-text > .btn-warning{
	margin: 35px 0 10px 0;
}
.news1{
	float: left;
	margin-right: 0;
	padding-right: 0;
	margin-top: 25px;
	padding-left: 25px;
}
.right-side > .news1{
	padding-left: 60px;
	border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.news1 > .write-text .group{
	padding: 0;
}
.news1 > .write-text .group > h4{
	color: #852225;
	font-size: 12px;
}
.news1 > .write-text .group > p{
	font-size: 14px;
}
.news2{
	float: left;
	margin-top: 25px;
}
.news2 > .group h4{
	font-size: 24px;
}
.news2 > .group p{
	font-size: 14px;
}
.news3{
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	float: left;
	padding-left: 25px;
	margin-top: 25px;
}
.news3 .group h4{
	font-size: 14px;
}
.footer-news{
	font-size: 12px;
	margin: 0;
}
.footer-news > p{
	display: inline-block;
	margin-right: 5px;
}
.news3 > .nav > li{
    text-align: left;
    opacity: 0.9;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    min-width: 68px;
    margin-bottom: 20px;
}
.news3 > .nav > li:hover{
    opacity: 1;
	color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
    margin-bottom: 0;
}
.news3 > .nav > li > .active{
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.news3 > .nav > li > .active:hover{
    opacity: 1;
    text-decoration: none;
    border-bottom: 0px;
    margin-bottom: 0;
}
.news3 > .nav a{
	color: grey;
	text-decoration: none;
	padding-bottom: 5px;
}
.news3 > .nav a:hover{
	color: black;
}
.news3 > .nav-tabs{
	border: 0;
	margin-bottom: 20px;
}
/*end News*/
.fl-left{
	float: left;
	padding-left: 0px;
}
.margin-top{
	margin-top: 25px;
}
.padding-0{
	padding: 0 !important;
}
.group{
	float: left;
	margin-bottom: 25px;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: black;
}