<style>html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

/*.full-height {
        height: 100vh;
    }
*/


.nav-menu {
    padding: 0;
    margin: 0;
}

.nav-menu a {
    color: white;
    padding-bottom: 5px;
}

.nav-menu a:hover {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-menu>li {
    color: white;
    text-align: center;
    transition: 0.3s;
    opacity: 0.9;
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    min-width: 68px;
    margin-bottom: 2px;
}

.nav-menu>li:hover {
    transition: 0.3s;
    opacity: 1;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #ffffff !important;
    margin-bottom: 0;
}

.carousel {
    margin-bottom: 50px;
}

.card-deck {
    margin-bottom: 50px;
}

.btn-warning {
    margin-bottom: 50px;
}

.features-icons {
    padding: 30px;
    margin-bottom: 50px;
}



@font-face {
    font-family: "Playfair";
    src: url('../font/playfair/PlayfairDisplay-Regular.otf');
}

h2 {
    font-family: 'Playfair';
    margin-bottom: 50px;
    font-size: 36px;
    color: #000000;
}
<<<<<<< HEAD
=======
||||||| merged common ancestors
    .header{
        margin: 0;
        padding: 15px;
        padding-bottom: 0; 
        background: #0064d2;
        color: white;
    }
    .logo{
        margin: 10px;
    }
    .menu{
        padding: 10px;
    }
    .nav-menu{
        padding: 0;
        margin: 0;
    }
    .nav-menu a{
        color: white;
        padding-bottom: 5px;
    }
    .nav-menu a:hover{
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
    }
    .nav-menu > li{
        color: white;
        text-align: center;
        transition: 0.3s;
        opacity: 0.9;
        margin: 0 10px;
        text-decoration: none;
        display: inline-block;
        min-width: 68px;
        margin-bottom: 2px;
    }
    .nav-menu > li:hover{
        transition: 0.3s;
        opacity: 1;
        color: white;
        text-decoration: none;
        border-bottom: 2px solid #ffffff !important;
        margin-bottom: 0;
    }
    }
=======
    .header{
        margin: 0;
        padding: 15px;
        padding-bottom: 0; 
        background: #0064d2;
        color: white;
    }
    .logo{
        margin: 10px;
    }
    .menu{
        padding: 10px;
    }
    .nav-menu{
        padding: 0;
        margin: 0;
    }
    .nav-menu a{
        color: white;
        padding-bottom: 5px;
    }
    .nav-menu a:hover{
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
    }
    .nav-menu > li{
        color: white;
        text-align: center;
        transition: 0.3s;
        opacity: 0.9;
        margin: 0 10px;
        text-decoration: none;
        display: inline-block;
        min-width: 68px;
        margin-bottom: 2px;
    }
    .nav-menu > li:hover{
        transition: 0.3s;
        opacity: 1;
        color: white;
        text-decoration: none;
        border-bottom: 2px solid #ffffff !important;
        margin-bottom: 0;
    }
    
</style>